// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }


// ----------- IA WRITER FONTS ------------ //

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: normal;
  src: url(https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Duospace/Webfonts/iAWriterDuospace-Regular.eot) format("embedded-opentype"),
    url(https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Duospace/Webfonts/iAWriterDuospace-Regular.woff2) format("woff2"),
    url(https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Duospace/Webfonts/iAWriterDuospace-Regular.woff) format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/iAWriterDuospace-Italic.eot") format("embedded-opentype"),
    url("../../fonts/iAWriterDuospace-Italic.woff2") format("woff2"),
    url("../../fonts/iAWriterDuospace-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/iAWriterDuospace-Bold.eot") format("embedded-opentype"),
    url("../../fonts/iAWriterDuospace-Bold.woff2") format("woff2"),
    url("../../fonts/iAWriterDuospace-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Duospace";
  font-weight: bold;
  font-style: italic;
  src: url("../../fonts/iAWriterDuospace-BoldItalic.eot") format("embedded-opentype"),
    url("../../fonts/iAWriterDuospace-BoldItalic.woff2") format("woff2"),
    url("../../fonts/iAWriterDuospace-BoldItalic.woff") format("woff");
}
// ---------------------------------------- //


html { height: 100%; }

body {
  color: black;
  font-family: monospace, "iA Writer Duospace";
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
  font-size: .9rem;   // added
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


// link options 

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  font-style: italic;
}
